html, body {
    overflow-x: hidden;
    max-width: max-content;
    margin: auto;
}
body {
    background-color: rgb(255, 255, 255);
}
/*
font-family: 'Montserrat', sans-serif; 200 500
font-family: 'Nunito', sans-serif; 400
*/
header{
    width: 100%;
    position: absolute;    
    z-index: 2;
    left: 0;
}
#menu{
    padding: 0;
    display: flex;
    justify-content: space-around;
}
#menu li{
    list-style-type: none;
}
#menu li a{
    color: black;
    text-decoration: none;
}

#hero-content{
    margin-top: 7em;
    position: absolute;
    z-index: 2;
    max-width: 30vw;
}

#hero-content h1{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 5em;
   margin: 0;
}

#hero-content p{
    font-family: 'Montserrat', sans-serif;
}

#hero-video video{
    height: 100vh;
    filter: blur(0px) contrast(100%) saturate(2);
    z-index: 1;
}


/*TABLETS*/
@media screen and (min-width: 600px) {

    
}

/*SMALL DEVICES*/
@media screen and (min-width: 600px) {

}

/*DESKTOPS*/
@media screen and (min-width: 992px) {
    #hero-outer{
        display: flex;
        flex-direction: row;
        justify-content: center;    
    }
    #hero-content{
        position: relative;
        left: 0%;
        min-width: 30vw;
        left: 50px;
    }
    #hero-content h1{
        font-size: 9em;
    }
}

/*LARGE DESKTOPS*/
@media screen and (min-width: 1300px) {
    #hero-content h1{
        font-size: 10em;
    }
}